button {
  background-color: #f5f5f5;
  font-size: 1.5em;
  border: solid 1px transparent;
  outline: none;
}
button:hover {
  cursor: pointer;
  border: black solid 1px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 95%;
  border: black solid 0.5px;
  padding: 0.5em;
  flex-wrap: wrap;
  font-size: 15px;
}

select {
  background-color: #f5f5f5;
}

.picker {
  width: 5em;
  margin-top: 10px;
}

.sketchPicker {
  position: absolute;
}

.selectors {
  width: 10em;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.selectors select {
  font-size: 1.5em;
}
