.container {
  /* background-color: bisque; */
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.addObject {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 99%;
  /* border: black solid 0.5px; */
  margin: 5px;
  flex-wrap: wrap;
  font-size: 15px;
}

.addObject button {
  font-size: 1.5em;
  outline: none;
  background: none;
  border: none;
}

.addPage {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 3rem;
  z-index: 50;
  /* border: 2px solid #17212b; */
  background: none;
  background-color: #17212b;
  outline: none;
  color: white;
  border-radius: 50%;
  display: flex;
  border: none;
  padding: 0;
}
/* .addPage:hover {
  background-color: red;
  border: 2px solid #17212b;
} */

/* .canvas-container {
  width: 100% !important;
  margin-top: 100px;
}
.lower-canvas  {
  border: 1px solid red;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50vh !important;
  width: 100% !important;
}
..upper-canvas{

} */

/* .fabric-canvas-wrapper {
  width: 90% !important;
} */
